/*Css by Rade Jasenovcanin version 1.0 11/3/2022*/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&display=swap');
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*containers*/
.container{
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.containerBlackBorder{
  width: 60%;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(0, 0, 0);
}
.containerCard{
  width: 60%;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/*Card*/
.CardHover:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.CardHover:hover .CardTitle{
  color: rgb(65, 120, 146);
}
/*Grid Col*/
.col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-9{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-10{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
/*flex */
.flex-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*buttons*/
.btn-primary{
  background-color: rgb(65, 120, 146);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(82, 83, 83);
  transition: ease-out 0.4s;
  cursor: pointer;
}
.btn-primary:hover{
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 300px 0 0 0 rgb(82, 83, 83);
}
.btn-success{
  background-color: rgb(65, 146, 79);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(82, 83, 83);
  transition: ease-out 0.4s;
  cursor: pointer;
}
.btn-success:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 300px 0 0 0 rgb(82, 83, 83);
}
.btn-danger{
  background-color: rgb(146, 65, 65);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(82, 83, 83);
  transition: ease-out 0.4s;
  cursor: pointer;
}
.btn-danger:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 300px 0 0 0 rgb(82, 83, 83);
}
.btn-warning{
  background-color: rgb(196, 193, 60);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(82, 83, 83);
  transition: ease-out 0.4s;
  cursor: pointer;
}
.btn-warning:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 300px 0 0 0 rgb(82, 83, 83);
}
.btn-info{
  background-color: rgb(148, 151, 153);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 0 0 rgb(82, 83, 83);
  transition: ease-out 0.4s;
  cursor: pointer;
}   
.btn-info:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  box-shadow: inset 300px 0 0 0 rgb(82, 83, 83);
}
/*fonts*/
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
p{
    font-family: 'DM Serif Display', serif;
}
/*media query*/
@media screen and (max-width: 600px) {
  .col-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-5{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-6{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-7{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-8{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-9{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    }
    .col-10{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    }
}
/*tables*/
.table{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-top: 15px;
}
.table th{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  padding: 10px;
  border-bottom: 1px solid rgb(82, 83, 83);
}
.table td{
  padding: 10px;
  border-bottom: 1px solid rgb(82, 83, 83);
  font-family: 'Lato', sans-serif;
}
.table tr:nth-child(even){
  background-color: rgb(209, 209, 209);
}
.table tr:hover{
  background-color: rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/*search nav*/
.search{
  display: flex;
  align-items: center;
  float: right;
}
.search input{
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  transition: ease-out 0.4s;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .search input{
    display: none;
  }
}
.search input:focus{
  outline: none;
}
/*nav*/
.menu{
  display:none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;

}
.menu a {
  color: white;
  padding: 8px 16px;
  font-weight: 600;
  margin: 0 16px;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 99px;
}
.menu a.is-active{
  background-color: rgb(201, 94, 32);
}
.menu a.is-active, .menu a:hover {
  background-color: rgb(201, 94, 32);
  color: aliceblue;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgb(54, 54, 54);
  padding: 16px 32px;
  border-bottom: 3px solid rgb(82, 83, 83);
}
.hamburger{
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
.hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.containerNav{
max-width: 1280px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
/*navFull*/
.containerNavFull{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
.hamburgerF{
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
.hamburgerF span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.containerNavFull button{
  background-color: rgb(54, 54, 54);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  transition: ease-out 0.4s;
  cursor: pointer;
}
.menu{
  display:none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;

}
.menuF a {
  color: white;
  padding: 8px 16px;
  font-weight: 600;
  margin: 0 16px;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 99px;
}
.menuF a.is-active{
  background-color: rgb(201, 94, 32);
}
.menuF a.is-active, .menuF a:hover {
  background-color: rgb(201, 94, 32);
  color: aliceblue;
}

.menuDrop{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menuDrop ul{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
list-style: none;
text-align: center;
}
.menuDrop ul li{
  margin: 15px 0;
}
.menuDrop ul li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 50px;
}
.containerNavFull{
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
.containerNav button{
  background-color: rgb(54, 54, 54);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  transition: ease-out 0.4s;
  cursor: pointer;
}
/*end nav full*/
.containerNav .logo{
  color: aliceblue;
  text-transform: uppercase;
}
.hamburger:hover span:nth-child(2){
  transform:translateX(10px);
}
/*hamburger full hover*/

.hamburgerF span:nth-child(1){
  transform:translate(4px, -16px) rotate(45deg);
}
.hamburgerF span:nth-child(2){
  transform:translate(2px, -3px) rotate(-45deg);
}

@media(min-width: 768px){
  .hamburger{
    display: none;
  }
  .menu{
    display: flex;
  }
}
/*padding*/
.pt-20{
  padding-top: 20px;
}
.pt-40{
  padding-top: 40px;
}
.pt-60{
  padding-top: 60px;
}
.pt-80{
  padding-top: 80px;
}


