/*Css by Rade Jasenovcanin version 1.0 11/3/2022*/
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/*containers*/
.container{
  width: 60%;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.containerBlackBorder{
  width: 60%;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(0, 0, 0);
}
.containerCard{
  width: 60%;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/*Card*/
.CardHover:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.CardHover:hover .CardTitle{
  color: rgb(65, 120, 146);
}
/*Grid Col*/
.col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-9{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
.col-10{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
}
/*flex */
.flex-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*buttons*/
.btn-primary{
  background-color: rgb(65, 120, 146);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-primary:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-success{
  background-color: rgb(65, 146, 79);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-success:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-danger{
  background-color: rgb(146, 65, 65);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-danger:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-warning{
  background-color: rgb(196, 193, 60);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-warning:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
.btn-info{
  background-color: rgb(148, 151, 153);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}   
.btn-info:hover{
  background-color: rgb(82, 83, 83);
  color: aliceblue;
  width: 100px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 50px;
}
/*fonts*/
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
p{
    font-family: 'DM Serif Display', serif;
}
/*media query*/
@media screen and (max-width: 600px) {
  .col-2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-5{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-6{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-7{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-8{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
  }
  .col-9{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    }
    .col-10{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 0px;
    }
}

